[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nestjs-Microservices-jd/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nestjs-Microservices-jd/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nestjs-Microservices-jd/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nestjs-Microservices-jd/payments-ms.git
