[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nestjs-Microservices-jd/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nestjs-Microservices-jd/products-microservice.git
